<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="starter">
    <ion-pane>
      <ion-nav-bar align-title="center" class="bar bar-header bar-dark">
      </ion-nav-bar>

      <ion-nav-view animation="slide-left-right">
      </ion-nav-view>

      <!-- tabs -->
      <script id="templates/tabs.html" type="text/ng-template">
        <ion-tabs class="fade-in-not-out tabs-striped tabs-dark tabs-bottom tabs-icon-top">
            <ion-tab icon="ion-fireball" title="Hot" href="#/tab/hot">
              <ion-nav-view name="hot-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab icon="ion-arrow-graph-up-right" title="Trending" href="#/tab/trending">
              <ion-nav-view name="trending-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab icon="ion-ios-lightbulb" title="Fresh" href="#/tab/fresh">
              <ion-nav-view name="fresh-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
      </script>

      <script id="templates/hot.html" type="text/ng-template">
        <ion-view view-title="9GAG">
          <ion-content on-swipe-right="goBack()" on-swipe-left="goForward()" class="scroll-content ionic-scroll padding has-header">
            <ion-refresher spinner="spiral" pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
            <ion-spinner icon="spiral" style="padding-left: 47%;" ng-show="loading"/></ion-spinner>
            <ion-list ng-hide="loading">
              <ion-item ng-repeat="image in images track by image.id" class="item-thumbnail-top item-text-wrap">
                <a class="button-link button button-clear text-center" href="#/tab/hot-item/{{ image.id }}"><h2><strong>{{ image.caption }}</strong></h2></a>
                <br />
                <a href="#/tab/hot-item/{{ image.id }}"><img src="{{ image.images.cover }}" class="img-responsive" alt="Photo" /></a>
                <div class="row">
                  <div class="col">Comments: {{ image.comments.count }}</div>
                  <div class="col text-right">Votes: {{ image.votes.count }}</div>
                </div>
              </ion-item>
            </ion-list>
            <br />
          </ion-content>
        </ion-view>
      </script>

      <script id="templates/trending.html" type="text/ng-template">
        <ion-view view-title="9GAG">
          <ion-content ng-class="animationForTabs" on-swipe-right="goBack()" on-swipe-left="goForward()" class="scroll-content ionic-scroll padding has-header">
            <ion-refresher spinner="spiral" pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
            <ion-spinner icon="spiral" style="padding-left: 47%;" ng-show="loading"/></ion-spinner>
            <ion-list ng-hide="loading">
              <ion-item ng-repeat="image in images track by image.id" class="item-thumbnail-top item-text-wrap">
                <a class="button-link button button-clear" href="#/tab/trending-item/{{ image.id }}"><h2><strong>{{ image.caption }}</strong></h2></a>
                <br />
                <a href="#/tab/trending-item/{{ image.id }}"><img src="{{ image.images.cover }}" class="img-responsive" alt="Photo" /></a>
                <div class="row">
                  <div class="col">Comments: {{ image.comments.count }}</div>
                  <div class="col text-right">Votes: {{ image.votes.count }}</div>
                </div>
              </ion-item>
            </ion-list>
            <br />
          </ion-content>
        </ion-view>
      </script>

      <script id="templates/fresh.html" type="text/ng-template">
        <ion-view view-title="9GAG">
          <ion-content ng-class="animationForTabs" on-swipe-right="goBack()" on-swipe-left="goForward()" class="scroll-content ionic-scroll padding has-header">
            <ion-spinner icon="spiral" style="padding-left: 47%;" ng-show="loading"/></ion-spinner>
            <ion-refresher spinner="spiral" pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
            <ion-list ng-hide="loading">
              <ion-item ng-repeat="image in images track by image.id" class="item-thumbnail-top item-text-wrap">
                <a class="button-link button button-clear" href="#/tab/fresh-item/{{ image.id }}"><h2><strong>{{ image.caption }}</strong></h2></a>
                <br />
                <a href="#/tab/fresh-item/{{ image.id }}"><img src="{{ image.images.cover }}" class="img-responsive" alt="Photo" /></a>
                <div class="row">
                  <div class="col">Comments: {{ image.comments.count }}</div>
                  <div class="col text-right">Votes: {{ image.votes.count }}</div>
                </div>
              </ion-item>
            </ion-list>
            <br />
          </ion-content>
        </ion-view>
      </script>

      <script id="templates/item.html" type="text/ng-template">
        <ion-view ng-class="animationForTabs" cache-view="false"">
          <!-- TITLE AND BACK BUTTON -->
          <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="goBack()"><i class="icon ion-arrow-left-c" ></i></button>
          </ion-nav-buttons>
          <ion-nav-title>{{ data.caption }}</ion-nav-title>
          <!-- END TITLE AND BACK BUTTON -->
          <ion-content class="padding has-header">
            <ion-spinner icon="spiral" style="padding-left: 47%;" ng-show="loading"/></ion-spinner>
            <div class="content" ng-hide="loading">
              <h2 class="text-center">{{ data.caption }}</h2>
              <p ng-if="data.media == false">
              <img src="{{ data.images.large }}" class="img-responsive" alt="Photo" />
              </p>
              <p ng-if="data.media != false">
                <video poster="{{ data.images.cover }}" loop="loop" ng-src="{{ data.media.webm }}" class="centerme img-responsive" controls="controls" autoplay></video>
              </p>
              <div class="row">
                <div class="col">Comments: {{ data.comments.count }}</div>
                <div class="col text-right">Votes: {{ data.votes.count }}</div>
              </div>
              <div class="row">
                <div class="col">
                  
                </div>
                <div class="col text-right">
                  <a ng-click="openInBrowser()" class="icon ion-social-chrome button button-balanced button-clear"></a>
                  &nbsp;
                  <a ng-click="showSharingOptions()" class="icon ion-android-share-alt button button-positive button button-clear"></a>
                </div>
              </div>
              <h3>Comments</h3>
              <ion-list>
                <ion-item ng-if="data.comments.count > 0" ng-repeat='item in comments.data' class='item-thumbnail-left item-text-wrap'>
                  <img src="{{ item.user.avatar }}" alt="Photo">
                  <h2>{{ item.user.displayName }}</h2>
                  <p ng-bind-html="deliberatelyTrustDangerousSnippet(item.text)" ng-if="item.type == 'text'">
                      <!-- comment text goes here -->.
                  </p>
                  <p ng-if="item.type == 'media'">
                      <img src="{{ item.text }}" class="img-responsive" alt="Photo">
                  </p>
                </ion-item>
                <ion-item ng-if="data.comments.count == 0">
                  There are no comments for this post yet! :(
                </ion-item>
              </ion-list>
              <br />
            </div>
          </ion-content>
        </ion-view>
      </script>

    </ion-pane>
  </body>
</html>
