/* Empty. Add your own CSS if you like */
.img-responsive{
	width: 100%;
	height: auto;
}
.button-link {
	text-align: left !important;
}
* {
    box-shadow: none !important;
}
/*.spinner {
  margin: 0% auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}
/*.spinner svg {
  width: 19% !important;
  height: 85px !important;
}*/